<style>  
    .container{
        margin: 15px;
        height:60px;
        padding: 15px;
        border-radius: 4px;
        background: 0 0;
        color: #393939;
        font-weight: 400;
        font-size: 16px;
        border: 2px solid rgba(0,0,0,.2);
        border-color: #9f9f9f;
        transition: all .3s ease-in;
        min-height: 62px;
    }

    .mat-progress-bar-fill::after {
        background-color: #007ac0 !important;
    }
    
    .mat-progress-bar-buffer {
        background: #E4E8EB;
    }
    
    .mat-progress-bar {
        border-radius: 2px;
    }

    .mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
        background-color: #007ac0 !important;
    }
    
    .progress-section {
        color: #007ac0;
        font-size:small;
        font-weight: 600;
        padding-top: 5px;
        margin-left: 280px; 
        width: 50%
    }

</style>
<div class="ques-section" >
     In addition to Cisco, what companies does your organization consider, use, sell, or support?
</div>

<div class="main-section-grid"
  gdAreas="side content new"
  gdRows="auto auto auto"
  gdColumns="auto auto auto"
  gdAreas.lt-md="side | content | new"
  gdRows.lt-md="auto auto auto auto">
    <div class="container flex-container box-size" fxLayout="row" gdArea="side" fxLayoutAlign="space-between center">
        <span style="width: 140px">Aruba</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" class="custom-check" labelPosition="after"></mat-checkbox>
        </span>
	</div>
	<div class="container flex-container box-size" fxLayout="row" gdArea="content" fxLayoutAlign="space-between center">
        <span style="width: 140px">IBM</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div>
    <div class="container flex-container box-size"  fxLayout="row" gdArea="new" fxLayoutAlign="space-between center">
        <span style="width: 140px">Riverbed</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div> 
</div>

<div class="main-section-grid"
  gdAreas="side content new"
  gdColumns="auto auto auto"
  gdRows="auto auto auto"
  gdAreas.lt-md="side | content | new"
  gdRows.lt-md="auto auto auto auto">
    <div class="container box-size flex-container" fxLayout="row" gdArea="side" fxLayoutAlign="space-between center">
        <span>Avaya</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div> 
    <div class="container box-size flex-container" fxLayout="row" gdArea="content" fxLayoutAlign="space-between center">
        <span>Juniper</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div>  
    <div class="container box-size flex-container" fxLayout="row" gdArea="new" fxLayoutAlign="space-between center">
        <span>VMware</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div> 
</div>

<div class="main-section-grid"
  gdAreas="side content new"
  gdColumns="auto auto auto"
  gdRows="auto auto auto"
  gdAreas.lt-md="side | content | new"
  gdRows.lt-md="auto auto auto auto">
    <div class="container box-size flex-container" fxLayout="row" gdArea="side" fxLayoutAlign="space-between center">
        <span>Dell</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div> 
    <div class="container box-size flex-container" fxLayout="row" gdArea="content" fxLayoutAlign="space-between center">
        <span>Microsoft</span>
        <span class="matradio"> 
                <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div>  
    <div class="container box-size flex-container" fxLayout="row" gdArea="new" fxLayoutAlign="space-between center">
        <span>Extreme Networks</span>
        <span class="matradio"> 
            <mat-checkbox color="primary" labelPosition="after"></mat-checkbox>
        </span>
    </div> 
</div>

<div class="flex-container" fxLayout="row" fxLayoutAlign="start" style="margin-left: 200px; margin-top:30px; width: 50%">
    <span style="width: 300px; margin-left: 130px;"> 
        <button mat-raised-button (click)="onClickPrev()" class="btn-back-style">	&lt;&lt; Back</button>     
    </span>
    <span>
        <button mat-raised-button color="primary" (click)="onClicknext()" class="btn-style">Submit &gt;&gt;</button>   
    </span>    
</div>

<!-- <div class="flex-container" fxLayout="row" style="margin:30px 0px 100px 250px;width:50%">
    <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
</div> -->
<div class="flex-container" fxLayout="row" style="margin-top: 30px; margin-left: 280px; width: 50%">
    <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
</div> 
<div class="flex-container progress-section" fxLayout="row" fxLayoutAlign="start end">
    <span style="width: 800px;">0%</span>
    <span>100%</span>
    <!-- <span [ngStyle]="{'left': progress + '%'}">{{progress}}%</span> -->
</div> 