<style> 
    .progress-percent {
        color: #007ac0;
        font-weight: 600;
        padding-top: 10px;
    }
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: #007ac0 !important;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        background: #E4E8EB;
    }
    
    ::ng-deep .mat-progress-bar {
        border-radius: 2px;
    }
    .progress-section {
        font-weight: 600;
        padding-top: 5px;
        color: #007ac0;
        font-size:small;
    }
</style>

    <div class="main-section">
        <legend><div class="question-section">
            <span style="font-size:37px;">
                <span style="font-family:arial,helvetica,sans-serif;">
                    <span style="color: rgb(102, 102, 102);">Become a Cisco Insider</span>
                </span>
             </span>
            <div>&nbsp;</div>  
            <div><span style="font-family:arial,helvetica,sans-serif;">
                Would you like to become a Cisco Insider? If so, complete your profile now. It should only take 1-2 minutes.&nbsp;
            </span></div>
        </div></legend>
        <form #myForm="ngForm" (ngSubmit)="onClicknext($event)">
            <mat-radio-group [(ngModel)]="formData.startRadio" name="startRadio" required
            (change)="getSelection()">
                <div class="container flex-container" fxLayout="row">
                    <span style="width: 800px">Yes, let's get started</span>
                    <span class="matradio"> 
                        <mat-radio-button #yesValue value="yes" color="primary">
                        </mat-radio-button>
                    </span>
                </div>
                
                <div class="container flex-container" fxLayout="row">
                    <span style="width: 800px">Not right now</span>
                    <span class="matradio"> 
                        <mat-radio-button value="no" color="primary">
                        </mat-radio-button>
                    </span>
                </div> 
             </mat-radio-group>  
             <div *ngIf="!myForm.valid && isSubmitted">
                <p style="margin: -12px 15px;color: maroon; font-size: small;">
                    Please select a value</p>
            </div>
            
            <div class="flex-container" fxLayout="row" fxLayoutAlign="start" style="margin-top:50px;">
                <span style="width: 300px; margin-left: 130px;"> 
                    <button mat-raised-button disabled (click)="onClickPrev()" 
                    class="btn-back-style">&lt;&lt; Back</button>     
                </span>
                    <span>
                    <button type="submit" mat-raised-button color="primary" 
                        class="btn-style" (click)="onClicknext($event)">
                        Next &gt;&gt;
                    </button>   
                    </span>     
            </div>
         </form>   
    
         <div style="position: relative" fxLayout="row" style="margin-top: 70px;">
                <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
            </div> 
            <div class="flex-container progress-section" fxLayout="row" fxLayoutAlign="start end">
                <span style="width: 800px;">0%</span>
                <span>100%</span>
                <!-- <span [ngStyle]="{'left': progress + '%'}">{{progress}}%</span> -->
            </div> 
    </div>
    
    