
<div class="main-section">
    <div class="flex-container" fxLayout="row">
            Are you a customer or partner?
    </div>
    <div class="container flex-container" fxLayout="row">
        <span style="width: 800px">Customer</span>
        <span class="matradio"> <mat-radio-button ng-model="customer" color="primary" ng-value="customer"></mat-radio-button></span>
    </div>
    
    <div class="container flex-container" fxLayout="row">
        <span style="width: 800px">Partner</span>
        <span class="matradio"> <mat-radio-button ng-model="partner" color="primary" ng-value="partner"></mat-radio-button></span>
    </div> 

    <div class="flex-container" fxLayout="row" fxLayoutAlign="start" style="margin-top:50px;">
        <span style="width: 300px; margin-left: 130px;"> 
            <button mat-raised-button (click)="onClickPrev()" class="btn-back-style">&lt;&lt; Back</button>     
        </span>
        <span>
            <button mat-raised-button color="primary" (click)="onClicknext()" class="btn-style">Next &gt;&gt;</button>   
        </span>     
    </div>

    <div class="flex-container" fxLayout="row" style="margin-top: 70px;">
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    </div>
</div>

