<style>  
    .container{
            margin: 15px;
            height:60px;
            padding: 15px;
            border-radius: 4px;
            background: 0 0;
            color: #393939;
            font-weight: 400;
            font-size: 16px;
            border: 2px solid rgba(0,0,0,.2);
            border-color: #9f9f9f;
            transition: all .3s ease-in;
            min-height: 62px;
        }
    .main-section{
        margin-left: 150px; 
        font-size: 22px;
        width:60%; 
        padding: 50px 10px 2px 120px;
    }
    .matradio ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: blue !important;
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle , .mat-radio-outer-circle {
        border-color: blue !important;
    }

    .matradio ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle{
        background-color: blue !important;
    }
</style>   

<div class="main-section">
    <div class="flex-container" fxLayout="row">
            Are you a customer or partner?
    </div>
    <div class="container flex-container" fxLayout="row">
        <span style="width: 800px">Customer</span>
        <span class="matradio"> <mat-radio-button ng-model="customer" color="primary" ng-value="customer"></mat-radio-button></span>
    </div>
    
    <div class="container flex-container" fxLayout="row">
        <span style="width: 800px">Partner</span>
        <span class="matradio"> <mat-radio-button ng-model="partner" color="primary" ng-value="partner"></mat-radio-button></span>
    </div> 

    <div class="flex-container" fxLayout="row" fxLayoutAlign="start" style="margin-top:50px;">
        <span style="width: 300px; margin-left: 130px;"> 
            <button mat-raised-button disabled (click)="onClickPrev()" 
            style="height:60px; width:120px;">&lt;&lt; Back</button>     
        </span>
            <span>
            <button mat-raised-button color="primary" (click)="onClicknext()" 
            style="height:60px;width:120px;">Next &gt;&gt;</button>   
            </span>     
    </div>

    <div class="flex-container" fxLayout="row" style="margin-top: 70px;">
        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
    </div>
</div>

