/* @media (min-width: 770px){
    .Skin .SkinInner {
        width: auto;
        max-width: 95%;
    }
}

@media (min-width: 980px){
    .Skin .SkinInner {
        display: table;
        min-width: 770px;
        padding-top: 20px;
        margin: auto;
    }
} */

.main-container {
    width:60%; 
    padding: 50px 10px 2px 120px;
}
