<div class="SkinInner">
    <div id="LogoContainer" style="margin-left: 40%">
        <div id="Logo"><img src="https://ciscoengineering.co1.qualtrics.com/CP/Graphic.php?IM=IM_1GJ6XIqQ5bWzVqJ" data-image-state="ready"></div>
    </div>
</div>

<!-- 
<div 
  fxLayout="row wrap" 
  fxLayout.lt-sm="column" 
  fxLayoutGap="2px" 
  fxLayoutAlign="flex-start">

	<ng-container *ngFor="let _ of [1,2,3,4,5,6]">
	<app-comp3 
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
    ></app-comp3>

	</ng-container>
</div> -->


<router-outlet></router-outlet>