<style>  
    .container{
        margin: 15px;
        height:60px;
        padding: 15px;
        border:1px solid #393939;
    }

    .ques-section{
        margin-left: 180px; 
        font-size: 20px;
        width:50%; 
        padding: 40px 10px 2px 80px;
        color: rgb(64, 64, 64); 
        background-color: rgb(255, 255, 255); 
        outline: rgb(0, 0, 0) solid 0px;
    }
    

</style>   
<div class="ques-section">
    Specifically, which Cisco products do you use? (e.g., ACI, Webex, SD-WAN) List as many as you can. The more details you provide, the better we can match you with research opportunities.
</div>

<div class="main-section">
    <div class="flex-container" fxLayout="row" width=200px;>
            <mat-form-field class="example-full-width" style="width:700px;">
                <input matInput placeholder="Enter text here" value="" required>
            </mat-form-field>
    </div>

    <div class="flex-container" fxLayout="row" fxLayoutAlign="end" style="margin-top:50px;">
        <span>
            <button mat-raised-button color="primary" (click)="onClicknext()" class="btn-style">Next >></button>   
        </span>     
    </div>

    <div class="flex-container" fxLayout="row" style="margin-top: 70px;">
        <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
    </div>
</div>


