<style> 
    ::ng-deep .mat-progress-bar-fill::after {
        background-color: #007ac0 !important;
    }
    
    ::ng-deep .mat-progress-bar-buffer {
        background: #E4E8EB;
    }
    
    ::ng-deep .mat-progress-bar {
        border-radius: 2px;
    }
    .progress-section {
        font-weight: 600;
        padding-top: 5px;
        color: #007ac0;
        font-size:small;
    }
    
 </style>
<div class="main-form" style="width:60%; padding: 20px 10px 0px 120px;">
        <form #myForm="ngForm" fxLayout="column"  (ngSubmit)="onClicknext($event)">
        <!-- <form fxLayout="column" [formGroup]="contactForm"> -->
                About You:
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
                <mat-form-field fxFlex>
                <input matInput placeholder="FIRSTNAME"  #fname [(ngModel)]="contactFormData.firstName"
                    name="name" required>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field fxFlex>
                <input matInput type="text" placeholder="LASTNAME" [(ngModel)]="contactFormData.lastName"
                name="lname" required>
                </mat-form-field>
            </div>
        
            <div class="input-row">
                <mat-form-field fxFlex>
                <input matInput  type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="EMAIL" [(ngModel)]="contactFormData.email"
                name="email" required>
                </mat-form-field>
            </div>

            <div class="input-row">
                <mat-form-field fxFlex>
                <input matInput  type="text" placeholder="COMPANY" [(ngModel)]="contactFormData.company"
                name="company">
                </mat-form-field>
            </div>
        </form>
        <div *ngIf="!myForm.valid && isSubmitted">
            <p style="color: #f44336;font-size:smaller;font-weight:600">
                Please enter a valid text</p>
        </div>

        <div style="margin: 35px 0 0px 0;">

        <legend> <div class="question-section"><div>
            <span style="font-family: arial, helvetica, sans-serif;">By entering your information you agree to be contacted regarding Cisco Insider and acknowledge the <a href="https://www.cisco.com/c/en/us/about/legal/privacy-full.html">Cisco Privacy Statement</a>.&nbsp;</span>
            </div></div>
        </legend>

        <div class="flex-container" fxLayout="row" fxLayoutAlign="start">
            <span style="width: 300px; margin-left: 130px;"> 
                <button mat-raised-button (click)="onClickPrev()" class="btn-back-style">	&lt;&lt; Back</button>     
            </span>
             <span>
                <button mat-raised-button color="primary" class="btn-style" (click)="onClicknext($event)">Next >></button>   
             </span>     
        </div>

        <div style="position: relative" fxLayout="row" style="margin-top: 70px;">
                <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar>
            </div> 
            <div class="flex-container progress-section" fxLayout="row" fxLayoutAlign="start end">
                <span style="width: 800px;">0%</span>
                <span>100%</span>
                <!-- <span [ngStyle]="{'left': progress + '%'}">{{progress}}%</span> -->
            </div> 
    </div>